apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  name: servers.wg.krakensystems.co
spec:
  group: wg.krakensystems.co
  names:
    kind: Server
    listKind: ServerList
    plural: servers
    singular: server
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        metadata:
          type: object
        spec:
          properties:
            address:
              type: string
            endpoint:
              type: string
            extraAllowedIPs:
              items:
                type: string
              type: array
            listenPort:
              format: int64
              type: integer
            publicKey:
              type: string
          required:
          - publicKey
          - address
          - extraAllowedIPs
          - listenPort
          - endpoint
          type: object
        status:
          type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
